/* Selector Universal*/
* {
    font-family: "Gill Sans", sans-serif;
}

/*Selector de etiqueta: ocupa el nombre de la etiqueta y modifica todas las ocurrencias (todos los nombres iguales)*/

body{
   padding:0.5em 2em 0.5em 2em;
    background-color: rgb(161, 224, 229);
}
p{ 
    color:rgb(4, 39, 102);
    text-align: center;
}
/*Selector de clase*/
/*Vamos a cambiar a todos los elementos que tengan esa clase, para que todo lo que tenga la misma clase se cambie*/
.biruls{
    padding:10px;
    margin: 10px;
    border:50px solid #000;
    width: 200px;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
/*Selector por id*/
/*Nos permite seleccionar un elemento unico dentro del sitio, este solo debe aplicar a un elemento en su sitio*/

#logo{
    width:150px;
}

/*Selector combinado
aqui podemos combinar mas de una opcion para ir filtrando mis etiquetas*/

#navegacion {
    display:inline;
}

#navegacion li{
    display:inline;
}

